## Objective is to get Category of the product when the name of product is entered

In [1]:
# Importing Packages

import numpy as np 
import pandas as pd 
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize
import gensim
import string
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
#from sklearn.naive_bayes import MultinomialNB

C:\Users\atiya.ahmed\Anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

## Data Preprocessing

In [2]:
# Reading the dataset file
df = pd.read_csv('Categorical_Data2.csv')

In [3]:
#display csv file
df

,Unnamed: 0,Product name,Category
0,0,HP 14 11th Gen Intel Core i5 Processor 14-inch...,Laptops
1,1,"Dell Vostro 3400 14"" (35.56 cms) FHD Anti Glar...",Laptops
2,2,"HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...",Laptops
3,3,"HP 15 AMD Athlon 15.6"" (39.62cms) HD Laptop (S...",Laptops
4,4,"ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...",Laptops
...,...,...,...
2830,3064,888 Combo of Rose-Lavender Camphor Cone 65 Gra...,Air freshners
2831,3065,Lovin Air Freshener - 234 ml (Wild Romance),Air freshners
2832,3066,"ElectroCloud Car Air Freshener Vent Clip, Esse...",Air freshners
2833,3067,"Sugandhim Rose, Champa & Chameli Air Freshener...",Air freshners
2834,3070,Pure Source India Room and Car Freshener Rose ...,Air freshners

In [4]:
#getting the required data from the dataset
df = df[['Product name', 'Category']]
df

                                           Product name       Category
0     HP 14 11th Gen Intel Core i5 Processor 14-inch...        Laptops
1     Dell Vostro 3400 14" (35.56 cms) FHD Anti Glar...        Laptops
2     HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...        Laptops
3     HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...        Laptops
4     ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...        Laptops
...                                                 ...            ...
2830  888 Combo of Rose-Lavender Camphor Cone 65 Gra...  Air freshners
2831        Lovin Air Freshener - 234 ml (Wild Romance)  Air freshners
2832  ElectroCloud Car Air Freshener Vent Clip, Esse...  Air freshners
2833  Sugandhim Rose, Champa & Chameli Air Freshener...  Air freshners
2834  Pure Source India Room and Car Freshener Rose ...  Air freshners

[2835 rows x 2 columns]

In [5]:
df[df['Category'] == 'All in one PC']

                                           Product name       Category
1149  Lenovo IdeaCentre A340 23.8” FHD IPS All-in-On...  All in one PC
1150  Lenovo IdeaCentre AIO 330 19.5" All-in-One Des...  All in one PC
1151  HP All in One PC 20.7-inch(52.6 cm) FHD with A...  All in one PC
1152  Lenovo IdeaCentre AIO 330 19.5-inch All-in-One...  All in one PC
1153  ASUS Vivo AiO V222, 21.5-inch (54.61 cms) FHD,...  All in one PC
...                                                 ...            ...
1430  Radiant Electro 17 inch All in One Desktop Set...  All in one PC
1431  ASUS AIO / i3-10110U / 0 / HD Cam / 4GB / 1TB ...  All in one PC
1432  HP HP 570-p053in 19.45-inch All-in-One Desktop...  All in one PC
1433  Radiant Electro 17 inch All in One Desktop Set...  All in one PC
1434  Radiant Electro 24 inch All in One Gamming Com...  All in one PC

[286 rows x 2 columns]

In [6]:
df[df['Category'] == 'Desktops']

                                           Product name  Category
856   Lenovo IdeaCentre A340 23.8-inch FHD All-in-On...  Desktops
857   Lenovo IdeaCentre 3 Desktop (AMD Athlon Silver...  Desktops
858   (Renewed) Dell Optiplex Business Class Perform...  Desktops
859   (Renewed) Dell Optiplex 3020 17-inch (43.18 cm...  Desktops
860   (Renewed) Dell Optiplex 380 17 inch (43.18 cms...  Desktops
...                                                 ...       ...
1144  Zebronics Desktop Computer (Intel Core i7-860 ...  Desktops
1145  (Renewed) Dell Optiplex Business Class Perform...  Desktops
1146  TravisLappy Desktop PC CPU Computer CORE I3 32...  Desktops
1147  Capital Gadgets Desktop Computer Intel Core (i...  Desktops
1148  Desktop Computer with Core i3 4th Gen CPU/H81 ...  Desktops

[293 rows x 2 columns]

In [7]:
df[df['Category'] == 'Mobile toilets'].to_csv('Mobile.csv', index = False)

In [8]:
df.Category.unique()

array(['Laptops', 'Phones', 'Printers', 'Desktops', 'All in one PC',
       'Adhesives', 'Mobile toilets', 'Art and craft', 'Smart TV',
       'Air freshners'], dtype=object)

In [9]:
# Checking for null values
df.isnull().sum()

Product name    0
Category        0
dtype: int64

In [10]:
# converting the categorical data to numerical data for further modeling
label_encoder = preprocessing.LabelEncoder()
df['Category'] = label_encoder.fit_transform(df['Category']) 
df

<ipython-input-10-5a7eb0907f2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'] = label_encoder.fit_transform(df['Category'])

                                           Product name  Category
0     HP 14 11th Gen Intel Core i5 Processor 14-inch...         5
1     Dell Vostro 3400 14" (35.56 cms) FHD Anti Glar...         5
2     HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...         5
3     HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...         5
4     ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...         5
...                                                 ...       ...
2830  888 Combo of Rose-Lavender Camphor Cone 65 Gra...         1
2831        Lovin Air Freshener - 234 ml (Wild Romance)         1
2832  ElectroCloud Car Air Freshener Vent Clip, Esse...         1
2833  Sugandhim Rose, Champa & Chameli Air Freshener...         1
2834  Pure Source India Room and Car Freshener Rose ...         1

[2835 rows x 2 columns]

In [11]:
# number of categories and their frequencies
df['Category'].value_counts()

6    301
7    298
4    293
0    286
2    286
9    285
8    280
5    278
3    268
1    260
Name: Category, dtype: int64

In [12]:
# dropping duplicate records, if any
df = df.drop_duplicates()
df = df.reset_index()

In [13]:
df.drop('index', axis =1, inplace = True)
df

                                           Product name  Category
0     HP 14 11th Gen Intel Core i5 Processor 14-inch...         5
1     Dell Vostro 3400 14" (35.56 cms) FHD Anti Glar...         5
2     HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...         5
3     HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (S...         5
4     ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...         5
...                                                 ...       ...
2830  888 Combo of Rose-Lavender Camphor Cone 65 Gra...         1
2831        Lovin Air Freshener - 234 ml (Wild Romance)         1
2832  ElectroCloud Car Air Freshener Vent Clip, Esse...         1
2833  Sugandhim Rose, Champa & Chameli Air Freshener...         1
2834  Pure Source India Room and Car Freshener Rose ...         1

[2835 rows x 2 columns]

In [14]:
# function to get clean text from the product names

def clean_txt(sent):
    tokens = word_tokenize(re.sub('[^a-z0-9 ]',' ',sent.lower()))
    stop_updated = stopwords.words("english") + list(punctuation) + ["..."] + ["would", "could","told","subject"]
    text = [term for term in tokens] 
    res = " ".join(text)
    return res

In [15]:
# obtaining cleaned titles from Product_Name
df['cleaned_title'] = df['Product name'].apply(clean_txt)
df

,Product name,Category,cleaned_title
0,HP 14 11th Gen Intel Core i5 Processor 14-inch...,5,hp 14 11th gen intel core i5 processor 14 inch...
1,"Dell Vostro 3400 14"" (35.56 cms) FHD Anti Glar...",5,dell vostro 3400 14 35 56 cms fhd anti glare d...
2,"HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop,...",5,hp 15 2021 thin light ryzen 3 3250 laptop 8 gb...
3,"HP 15 AMD Athlon 15.6"" (39.62cms) HD Laptop (S...",5,hp 15 amd athlon 15 6 39 62cms hd laptop silve...
4,"ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...",5,asus vivobook 15 2020 39 6 cm hd dual core int...
...,...,...,...
2830,888 Combo of Rose-Lavender Camphor Cone 65 Gra...,1,888 combo of rose lavender camphor cone 65 gra...
2831,Lovin Air Freshener - 234 ml (Wild Romance),1,lovin air freshener 234 ml wild romance
2832,"ElectroCloud Car Air Freshener Vent Clip, Esse...",1,electrocloud car air freshener vent clip essen...
2833,"Sugandhim Rose, Champa & Chameli Air Freshener...",1,sugandhim rose champa chameli air freshener sp...
2834,Pure Source India Room and Car Freshener Rose ...,1,pure source india room and car freshener rose ...

## Word Embedding using Word2Vec

In [16]:
# loading Google's Pre Trainied Word2Vec Model

google_model = r'GoogleNews-vectors-negative300.bin.gz' 
embeddings = gensim.models.KeyedVectors.load_word2vec_format(google_model, binary=True)

In [17]:
# defining function to get real valued vector for each word in a record

def doc_vec(sent):    
    docs_vectors = pd.DataFrame()
    for doc in sent:
        temp = pd.DataFrame()
        words = doc.split(' ')
        for word in words:
            try:
                word2vec = embeddings[word]
                temp = temp.append(pd.Series(word2vec),ignore_index=True)
            except:
                pass
        doc_vector = temp.mean()
        docs_vectors = docs_vectors.append(doc_vector,ignore_index=True)
    return docs_vectors

In [18]:
# Using the UDF above to get vectors to perform modelling on
docs_vectors = doc_vec(df['cleaned_title'])
docs_vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.015022,-0.003364,0.039062,0.088523,-0.014122,0.050501,0.037382,-0.049869,0.091797,0.187812,...,-0.037279,0.025211,-0.060306,0.018491,0.081284,-0.059039,-0.100557,-0.039684,-0.051593,-0.010553
1,0.039802,0.013421,0.000775,0.089880,-0.023840,-0.004926,0.028366,-0.059628,0.093298,0.127435,...,-0.052946,0.055564,-0.065993,0.022260,0.067431,-0.072027,-0.033189,-0.075658,-0.047235,-0.014928
2,0.047257,0.045508,0.005518,0.008341,0.015330,0.054073,0.025216,0.017912,0.143050,0.152481,...,-0.072274,0.080656,-0.003658,0.033610,0.001034,-0.059082,-0.105155,-0.033573,-0.136719,-0.001092
3,0.008972,0.014025,-0.016027,0.040658,0.033532,-0.012024,-0.028756,-0.082241,0.143903,0.138711,...,-0.045175,0.024432,-0.089395,0.033146,0.023751,-0.080392,-0.084643,-0.006332,-0.078146,-0.038975
4,-0.025473,0.024157,-0.004316,0.042993,-0.039198,0.101257,0.045640,-0.050176,0.095210,0.127033,...,-0.064236,0.053984,-0.050099,0.071000,-0.005061,-0.044436,-0.112703,-0.059183,-0.024360,-0.021899

In [19]:
docs_vectors.isnull().sum().sum()

300

In [20]:
nl = docs_vectors[docs_vectors[1].isnull()].index.tolist()
nl

[1956]

In [21]:
# dropping missing values from docs_vectors and corresponding category from df to maintain the same size
docs_vectors = docs_vectors.dropna()
df = df.drop(index = nl)

In [22]:
docs_vectors.shape

(2834, 300)

## Preparing Data for modelling for data embedded using Word2Vec

In [23]:
#defining X and Y for modelling
X = docs_vectors
y = df['Category'].values

In [24]:
#Splitting X and Y into training set and test set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state= 2)

## Using SVM Classification Model

In [25]:
#Using SVM model for classification
svc = svm.SVC(kernel='linear')
svc.fit(X_train, y_train)
y_pred_svc = svc.predict(X_test)

In [26]:
confusion_matrix(y_test, y_pred_svc)

array([[ 84,   0,   0,   1,   0,   0,   4,   0,   0,   0],
       [  0,  81,   0,   0,   0,   0,   1,   0,   0,   0],
       [  0,   0,  58,   0,  20,   4,   0,   0,   0,   0],
       [  0,   0,   0,  80,   0,   0,   0,   0,   0,   0],
       [  0,   0,  20,   0,  53,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   6,  78,   0,   0,   0,   0],
       [  7,   0,   0,   3,   1,   0,  83,   1,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  85,   0,   0],
       [  1,   0,   1,   0,   0,   0,   1,   0,  76,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 102]], dtype=int64)

In [27]:
print(classification_report(y_test,y_pred_svc))

              precision    recall  f1-score   support

           0       0.91      0.94      0.93        89
           1       1.00      0.99      0.99        82
           2       0.73      0.71      0.72        82
           3       0.95      1.00      0.98        80
           4       0.66      0.73      0.69        73
           5       0.95      0.93      0.94        84
           6       0.93      0.87      0.90        95
           7       0.99      1.00      0.99        85
           8       1.00      0.96      0.98        79
           9       1.00      1.00      1.00       102

    accuracy                           0.92       851
   macro avg       0.91      0.91      0.91       851
weighted avg       0.92      0.92      0.92       851

### Using Grid Search CV to find the best values for hyperparameters

In [28]:
# SVM Hyperparameter Tuning

#setting up parameters with their possible input.
param_grid = {'C':[0.1,1,100,1000],'kernel':['rbf','poly','sigmoid','linear'],'degree':[1,2,3,4,5,6],'gamma':['scale','auto']}

#hyperparameter_tuning on basis of SVC model and scoring metric as 'accuracy'
grid = GridSearchCV(svm.SVC(), param_grid, scoring = 'accuracy')

#fiting the training data with best parameters
grid.fit(X_train, y_train)

#predicting category for the train set after tuning the hyperparameters of the model
y_pred_grid_svm = grid.predict(X_test)

In [29]:
print(classification_report(y_test, y_pred_grid_svm))

              precision    recall  f1-score   support

           0       0.93      0.98      0.95        89
           1       1.00      0.99      0.99        82
           2       0.73      0.68      0.70        82
           3       0.99      1.00      0.99        80
           4       0.66      0.73      0.69        73
           5       0.95      0.93      0.94        84
           6       0.95      0.93      0.94        95
           7       0.99      0.99      0.99        85
           8       0.99      0.96      0.97        79
           9       1.00      0.99      1.00       102

    accuracy                           0.92       851
   macro avg       0.92      0.92      0.92       851
weighted avg       0.92      0.92      0.92       851

In [30]:
# Listing names of the classifiers used and their scores
names = ['SVC','SVC Grid Search CV']


accuracy_scores = [accuracy_score(y_test, y_pred_svc),
                   accuracy_score(y_test, y_pred_grid_svm)]


precision_scores = [precision_score(y_test, y_pred_svc, average = 'macro'),
                    precision_score(y_test, y_pred_grid_svm, average = 'macro')]

recall_scores = [recall_score(y_test, y_pred_svc, average = 'macro'),
                 recall_score(y_test, y_pred_grid_svm, average = 'macro')]

f1_scores = [f1_score(y_test, y_pred_svc, average = 'macro'),
             f1_score(y_test, y_pred_grid_svm, average = 'macro')]

In [31]:
# Getting a dataset from the lists above to easily compare the scores of the model used
scores_df = pd.DataFrame(zip(names, accuracy_scores, precision_scores, recall_scores, f1_scores), 
                           columns = ['Classifier', 'Accuracy Score', 'Precision Score', 'Recall Score', 'F1 Score'])
scores_df

           Classifier  Accuracy Score  Precision Score  Recall Score  F1 Score
0                 SVC        0.916569         0.913428      0.912925  0.912769
1  SVC Grid Search CV        0.921269         0.917566      0.916963  0.916928

#### After observing the performance of the models in fixed random_state and random text splittling, we concluded that only Gaussian Naive Bayes and SVM classifiers are stable in their preformance regardless of the randomness of the test data, hence we use both the classifiers henceforth.

## Getting predicted Category of entered Product Name

In [38]:
# UDF to clean the input text and get its vectorised form

def vect(sent):  
    cln = clean_txt(sent)
    docs_vectors = pd.DataFrame()
    docs = cln.split()
    for doc in docs:
        temp = pd.DataFrame()
        try:
            word2vec = embeddings[doc]
            temp = temp.append(pd.Series(word2vec),ignore_index=True)
            #print(temp)
        except:
            pass
        doc_vector = temp.mean()
        docs_vectors = docs_vectors.append(doc_vector,ignore_index=True)
    docs_vectors = docs_vectors.fillna(method='bfill')
    docs_vectors = docs_vectors.fillna(method='ffill')
    #print(docs_vectors)
    return docs_vectors

In [39]:
# UDF to get the class with most number of occurrences in the pred array
def most_likely(sent):
    class_ = []
    counter = 0
    new = list(label_encoder.inverse_transform(sent))
    for i in new:
        curr_frequency = new.count(i)
        if(curr_frequency > counter):
            counter = curr_frequency
            class_ = i
    return class_

In [42]:
#Get input from the user and sending that to UDF above
inp = vect(input('Enter title:'))

#predicting the category from user input
pred_svm = svc.predict(inp)
pred_svm_grid = grid.predict(inp)
#printing the category predicted using UDF most_likely()
print('\nCategory SVM:', most_likely(pred_svm))
print('\nCategory Grid SVM:', most_likely(pred_svm_grid))

Enter title:all in one desktop

Category SVM: Mobile toilets

Category Grid SVM: Mobile toilets